@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body    {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root   {
    font-size: 100%;
}

.App    {
    width: 80%;
    margin: 0 auto;
}

.App h2     {
    text-align: center;
}


.todos-container p  {
    margin: 0;
    padding: 10px;
}

.todos-container p:nth-child(2n)    {
    background-color: yellowgreen;
}

.todos-container .strikethrough   {
  text-decoration: line-through;
}

.form-container     {
    padding: 10px;
}

.form-container input   {
    min-width: 40%;
    height: 38px;
    line-height: 40px;
    font-size: 1.5rem;
    outline: none;
}

.form-container button  {
    min-width: 20%;
    height: 40px;
    padding: 10px 10px;
    font-size: 1rem;
    background-color: #ccc;
    margin-right: 5px;
    outline: none;
}
